<div class="cuerpo">
    <div class='c'>
        <div class='_404'>404</div>
        <hr>
        <div class='_1'>ERROR</div>
        <div class='_2'>RECURSO NO ENCONTRADO u.u</div>
        <a class='btn' href='/'>VOLVER AL INICIO</a>
    </div>
</div>