<img class="wave" src="img/wave.png">
	<div class="container">
		<div class="img">
			<img src="img/olvidoContraseña.svg">
		</div>
		<div class="login-content">
			<form action="/reestablecer-password" method="POST">
				<img src="img/avatar.svg">
				<h2 class="title">EmprendeSM</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fa fa-envelope"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Correo</h5>
           		   		<input type="email" name="correo" class="input" autocomplete="email" required>
           		   </div>
           		</div>

            	<a href="/inicio-sesion" class="a">Recordé mi contraseña</a>
            	<input type="submit" class="btn" value="Reestablecer Contraseña">
            </form>
        </div>
    </div>