
.form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.hidden {
  display: none !important;
}

.result-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}