    <h1 style="text-align:center; 
        font-family: Arial, Helvetica;
    ">Reestablecer Password | EmprendeSM</h1>
    
    <p style="font-family: Arial, Helvetica;">Hola, le escribimos este correo desde EmprendeSM, has solicitado reestablecer tu contraseña. Puedes hacerlo haciendo click en el siguiente enlace, este enlace es temporal, si se vence es necesario que vuelvas a solicitar otro enlace para reestablecer su contraseña.</p>
    
    <a style="
        display:block; 
        font-family: Arial, Helvetica;
        padding: 1rem; 
        background-color: #00C897; 
        color:white; 
        text-transform:uppercase; 
        text-align:center;
        text-decoration: none;"
    href="{{resetUrl}}">Reestablecer Contraseña</a>
    
    <p style="font-family: Arial, Helvetica;">Si no puedes acceder a este enlace, visita: <a>{{resetUrl}}</a></p>
    <p style="font-family: Arial, Helvetica;">Si no solicitaste este e-mail, puedes ignorarlo. Que tenga buen día le desea EmprendeSM.</p>